.astro-h {
    color: #008080;
}

.contact {
    list-style-type: none;
    padding-top: 1rem;
}

.contact-style {
    padding: 0;
    margin: 0;
    line-height: 3rem;
    color: #000;
}

.name {
    font-size: 2rem;
}

.contact-fill {
    font-size: 20px;
}

.paragraph-contact {
    color: #008080;
}

.label-style {
    color: #FF0000;
}

.contact-bg {
    background-color: blue;
    box-shadow: 0 0 2pt 1pt white;
    padding: 20px 10px;
}