* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}